# Ignore Gradle project-specific cache directory
.gradle

# Ignore Gradle build output directory
build
buildSrc/build
buildSrc/.gradle

# Ignore Idea directory
.idea

# Ignore vim cache
*.swp

# Ignore Python execution cache
__pycache__/
run_python_with_gdb.sh

# Ignore Kotlin build directory
.kotlin/
